page-register {
    button {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
}
